
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&family=Slabo+27px&display=swap');

body{
  font-family: 'Roboto', sans-serif !important;
}

img{
    width: 100% !important;
    height: 100% !important;
    text-align: center;
    margin-left: ;
}

.desc-contain{
    margin-top: 80px;
    margin-left: 100px;
    background-color: rgba(229, 243, 254, 1);
    padding: 5px;
    font-weight: 700;
    font-size: 12px;
}